<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/style.css?v=123456">
    <meta charset="utf-8">
    <title>sciote</title>
</head>
<body>
<div class="container">
    <form>
        <textarea name="text_area" id="message"></textarea><br>
        <input type="button" id="send-button" onclick="sendPredict()"
               value="predict">
    </form>
    <div class="results">
        <div class="percents" id="percents">
        </div>
        <div class="names" id="names">
        </div>
    </div>
    <div class="footer">
        <img src="/static/logo.png" class="logo">
    </div>
</div>
<script type="text/javascript">
    //получаем текстовое поле
    let message = document.getElementById("message");
    //получаем блок, куда будем выводить результат
    let results = document.getElementById("results");
    //получаем кнопку predict
    let sendButton = document.getElementById("send-button");
    //получаем блок с процентами
    let percents = document.getElementById("percents");
    //получаем блок с именами
    let names = document.getElementById("names");

    //основная функция
    function sendPredict() {
        let data = new FormData();
        //получаем данные из формы
        data.append("msg", message.value);
        let xhr = new XMLHttpRequest();
        xhr.withCredentials = true;
        xhr.addEventListener("readystatechange", function () {
            if (this.readyState === this.DONE) {
                let resp = JSON.parse(this.responseText);
                //сортируем элементы по убыванию
                let sortedKeys = Object.keys(resp).sort(function (a, b) {
                    return resp[b] - resp[a]
                });
                // let str = "";

                names.innerHTML = '';
                percents.innerHTML = '';

                for (const key of sortedKeys) {
                    let divPercent = document.createElement('div');
                    let divName = document.createElement('div');
                    divPercent.className = 'percents_node';
                    divName.className = 'names_node';
                    divPercent.innerHTML = key;
                    divName.innerHTML = ((resp[key] * 100).toFixed(2)).toString() + '%';
                    percents.appendChild(divPercent);
                    names.appendChild(divName);
                    // str += "<strong>"+key+": </strong>" + ((resp[key]*100).toFixed(2)).toString() + "% <br>";
                }
                // results.innerHTML = str;
                sendButton.value = "predict";
                sendButton.disabled = false;
            }
        });
        xhr.open("POST", "/predict");
        xhr.send(data);
        sendButton.value = "predicting...";
        sendButton.disabled = true;
    }

</script>
</body>
</html>
