{% extends 'wrap.html' %}

{% block title %}
    Train
{% endblock %}

{% block content %}
    <div class="container">
        <a href="/">
            <img class="logo" src="/static/logo.png" alt="Sciote logo">
        </a>
        <h1 class="title">Predict</h1>
        <section>
            <form>
                <section>
                    <label for="message">Message</label>
                    <textarea id="message" name="msg" cols="60" rows="10"></textarea>
                </section>

                <input type="button" id="send-button" onclick="sendPredict()" value="Predict!">
            </form>
        </section>
        <section>
            <p id="results"></p>
        </section>
    </div>
    <script type="text/javascript">

        let results = document.getElementById("results");
        let message = document.getElementById("message");
        let sendButton = document.getElementById("send-button");

        function sendPredict() {
            let data = new FormData();
            data.append("msg", message.value);

            let xhr = new XMLHttpRequest();
            xhr.withCredentials = true;

            xhr.addEventListener("readystatechange", function () {
                if (this.readyState === this.DONE) {
                    let resp = JSON.parse(this.responseText);
                    let sortedKeys = Object.keys(resp).sort(function (a, b) {
                        return resp[b] - resp[a]
                    });


                    let str = "";

                    for (const key of sortedKeys) {
                        str += "<strong>"+key+": </strong>" + ((resp[key]*100).toFixed(2)).toString() + "% <br>";
                    }

                    results.innerHTML = str;
                    sendButton.value = "Predict!";
                    sendButton.disabled = false;
                }
            });

            xhr.open("POST", "/predict/{{ training_id }}");

            xhr.send(data);
            sendButton.value = "Predicting...";
            sendButton.disabled = true;
        }
    </script>
{% endblock %}
