{% extends 'wrap.html' %}

{% block title %}
    Training {{ training_id }}
{% endblock %}

{% block content %}
    <div class="container">
        <a href="/">
            <img class="logo" src="/static/logo.png" alt="Sciote logo">
        </a>
        <h1 class="title">
            Training #{{ training_id }}
            <br>
            <small>
                Epoch
                <span id="cur-epoch">{{ epoch }}</span>
                /
                <span id="epochs">{% if completed %}{{ epoch }}{% else %}
                    ???{% endif %}</span>
            </small>
        </h1>
        <section>
            <h2 class="title">Results</h2>
            <p>
                <strong>Accuracy: </strong><span
                    id="accuracy">{{ "%0.2f"|format(accuracy*100) }}</span>%
            </p>
            <p>
                <strong>Loss: </strong><span
                    id="loss">{{ "%0.4f"|format(loss) }}</span>
            </p>
        </section>
        <section>
            <form action="{{ url_for('predict', tid=training_id) }}" method="get">
                <input type="submit" value="Predict!" id="predict-button"
                       {% if not completed %}disabled{% endif %}>
            </form>
            <form action="{{ url_for('stop_training', tid=training_id) }}" method="post">
                <input type="submit" value="Stop!" id="stop-button"
                       {% if completed %}disabled{% endif %}>
            </form>
        </section>
    </div>
    {% if not completed %}
        <script type="text/javascript">
            let currentEpoch = document.getElementById("cur-epoch");
            let allEpochs = document.getElementById("epochs");
            let accuracy = document.getElementById("accuracy");
            let loss = document.getElementById("loss");
            let predictButton = document.getElementById("predict-button");
            let stopButton = document.getElementById("stop-button");

            let interval = setInterval(updateData, 30000);

            function updateData() {
                let xhr = new XMLHttpRequest();
                xhr.withCredentials = true;

                xhr.addEventListener("readystatechange", function () {
                    if (this.readyState === this.DONE) {
                        let resp = JSON.parse(this.responseText);

                        currentEpoch.innerText = resp.epoch;
                        accuracy.innerText = (resp.accuracy * 100).toFixed(2);
                        loss.innerText = resp.loss.toFixed(4);

                        if (resp.completed) {
                            allEpochs.innerText = resp.epoch;
                            predictButton.disabled = false;
                            stopButton.disabled = true;
                            clearInterval(interval);
                        }
                    }
                });

                xhr.open("GET", "/train/{{ training_id }}/status");

                xhr.send(null);
            }

        </script>
    {% endif %}
{% endblock %}
